<!DOCTYPE html>
<html lang="en" background>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css\bootstrapcss.min.css">
    <title>Document</title>
</head>
<body>
    
    <div class="card border-primary" style="min-height:210px">
    
        <h5 class="card-title"> Hello <%= person %></h5>
        <h5>The temperature in the city of <%= citydata %> is  <%= temp %> degrees celcius.</h5>
        <h5>IP = <%= ip %></h5>
        </div>


</body>
</html>

