
body {
  background-color: #E8ECEF;
}
body{
  font-family: "poppins", sans-serif;
  background-color: var(--background-color); 
  color: var(--bs-primary-rgb);
  font-weight: 300;
  font-size: 1.2rem;
  
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
